{% load compress %}
{% load staticfiles %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css">

{% compress css %}
<link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet"> <!-- The cdnjs version of this is still not ready... firefox problems with height -->
<link href="{% static 'css/settings.css' %}" rel="stylesheet">
{% endcompress %}

{% compress js %}
<script src="{% static 'js/libs/select2.js' %}"></script>
{% endcompress %}

<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="settings-modal-label">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills">
          <li {% if page_name == None %} class="active" {% endif %}><a href="#settings-network" data-toggle="tab">Network</a></li>
          <li {% if page_name == 'custom_upload' %} class="active" {% endif %}><a href="#settings-upload" data-toggle="tab">Custom Uploads</a></li>
          <li {% if page_name == 'annotation' %} class="active" {% endif %}><a href="#settings-annotation" data-toggle="tab">Annotations</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade {% if page_name == None %} in active {% endif %}" id="settings-network">
            <ul class="list-group">
              <li class="list-group-item">Zoom and centre on extract
                <input class="pull-right setting-checkbox" type="checkbox" id="zoom">
              </li>
              <li class="list-group-item">Display node label on networks with less than 100 nodes
                <input class="pull-right setting-checkbox" type="checkbox" id="label">
              </li>
              <li class="list-group-item">Show demo on load
                <input class="pull-right setting-checkbox" type="checkbox" id="showDemo">
              </li>
            </ul>
          </div>
          <div class="tab-pane fade {% if page_name == 'custom_upload' %} in active {% endif %}" id="settings-upload">
            <ul class="list-group">
              <li class="list-group-item">Always create custom networks as private
                <input class="pull-right setting-checkbox" type="checkbox" id="isPrivate">
              </li>
            </ul>
          </div>
          <div class="tab-pane fade {% if page_name == 'annotation' %} in active {% endif %}" id="settings-annotation">
            <ul class="list-group">
              <li class="list-group-item">Download file type: 
                <select class="pull-right file-type-select" id="fileType">
                    <option value="xls">xls file</option>
                    <option value="xlsx">xlsx file</option>
                    <option value="csv">csv file</option>
                    <option value="tsv">tsv file</option>
                </select>
              </li>
              <li class="list-group-item">Remove genes that are not within input annotation
                <input class="pull-right setting-checkbox" type="checkbox" id="remove">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-confirm">Submit</button>
      </div>
    </div>
  </div>
</div>