python=3.6
Django<2
psycopg2
numpy
pandas
openpyxl
xlrd
xlwt
beautifulsoup4
scipy

django-tables2
django-bootstrap-pagination
django-compressor
django-crispy-forms
django-require
django-nose
django-extensions
django-filter
django-htmlmin

sga-safe
intermine
matplotlib
