<div class="vizualization-ui" id="ui" style="display: none;">
  {% block uiElements %}
  {% endblock %}
  
  <div class="bottom-right" >
    <a id="screenshot-link" href="#" class="btn btn-primary btn-outline"><span id="screenshot-icon" class="glyphicon glyphicon-camera"></span></a>
  </div>
  
  <div class="panel panel-default" id="panel-alerts"></div>
  
  <div class="panel panel-primary hidden-xs" id="panel-legend">
    <div class="panel-heading" id="legend-handle">
      <h3 class="panel-title">Legend</h3>
      <button type="button" class="close pull-right" aria-hidden="true">+</button>
    </div>
    <div class="panel-body" id="legend-body" style="display: none;">
      <ul id="list-annotation-legend">
      </ul>
    </div>
  </div>
  
  <div class="modal fade" id="modal-style" tabindex="-1" role="dialog" aria-labelledby="modal-style-label"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="modal-style-label">Network Style</h4>
        </div>
        <div class="modal-body">
          <ul id="style-tabs" class="nav nav-pills nav-justified">
            <li class="active"><a href="#style-node" data-toggle="tab">Node</a></li>
            <li><a href="#style-edge" data-toggle="tab">Edge</a></li>
            <li><a href="#style-general" data-toggle="tab">General</a></li>
            <li><a href="#style-annotation" data-toggle="tab">Annotations</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="style-node">
              <ul class="list-group">
                <li class="list-group-item">Node Size:
                  <div id="style-slider-nsize"></div>
                </li>
                <li class="list-group-item">Label Size:
                  <div id="style-slider-lsize"></div>
                </li>
                <li class="list-group-item">Label Threshold:
                  <div id="style-slider-lthresh"></div>
                </li>
                <li class="list-group-item">Label Color:
                    <div class="input-group bs-colorpicker">
                        <input id="style-label-color" type="hidden" value="#ffffff" class="form-control" />
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="style-edge">
              <ul class="list-group">
                <li class="list-group-item">Edge Width:
                  <div id="style-slider-esize"></div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="style-general">
              <ul class="list-group">
                <li class="list-group-item">Background Color: 
                    <div class="input-group bs-colorpicker">
                        <input id="canvas-background-color" type="hidden" name="background-color" value="#000000" class="form-control" />
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="style-annotation">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="btn-style-default" type="button" class="btn btn-primary">Revert to Defaults</button>
        </div>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->
  
  <div id="contextmenu-container" class="dropdown clearfix contextmenu" style="display: none;">
    <ul id="contextmenu" class="dropdown-menu" role="menu" style="display: block; position: static; margin-bottom: 5px;">
      <li class="disabled" data-simple-step="2" data-simple-action="disabled"><a id="context-view-network" tabindex="-1" href="#"><span class="glyphicon glyphicon-pushpin"></span> View Network</a></li>
      <li><a id="context-dl" tabindex="-1" href="#"><span class="glyphicon glyphicon-download"></span> Download Interactions</a></li>
      <li><a id="context-sgd" tabindex="-1" href="#"><span class="glyphicons glyphicons-link"></span> Go to SGD</a></li>
      <li><a id="context-copy" tabindex="-1" href="#"><span class="glyphicons glyphicons-more-items"></span> Copy Selected Nodes</a></li>
      <li class="divider"></li>
      <li><a id="context-edit-node" tabindex="-1" href="#"><span class="glyphicon glyphicon-edit"></span> Edit Node Attributes...</a></li>
      <li><a id="context-hide" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-close"></span> Delete Node</a></li>
      
<!--       <li><a id="context-label-toggle" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-close"></span> Toggle label</a></li> -->
<!--       <li class="divider"></li> -->
<!--       <li class="disabled" data-annotation-constraint><a id="context-node-gi" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-open"></span> Show genetic interactions for this node </a></li> -->
    </ul>
  </div>
  
  <div id="contextmenu-graph-container" class="dropdown clearfix contextmenu" style="display: none;">
    <ul id="contextmenu-graph" class="dropdown-menu" role="menu" style="display: block; position: static; margin-bottom: 5px;">
      <li><a id="context-copy" tabindex="-1" href="#"><span class="glyphicons glyphicons-more-items"></span> Copy Selected Nodes</a></li>
      <li><a id="context-yeastmine" tabindex="-1" href="#"><span class="glyphicons glyphicons-link"></span> Analyze Visible Network in Yeastmine</a></li>
      <li><a id="context-svg" tabindex="-1" href="#"><span class="glyphicons glyphicons-camera"></span> Take a Snapshot</a></li>
      <li class="divider"></li>
      <li class="disabled" data-simple-step="2" data-simple-action="disabled"><a id="context-toggle-nlabel" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-close"></span> Hide/Show Node Labels</a></li>
      <li><a id="context-toggle-alabel" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-close"></span> Hide/Show Annotation Labels</a></li>
      <li><a id="context-toggle-acolor" tabindex="-1" href="#"><span class="glyphicon glyphicon-eye-close"></span> Hide/Show Annotation Colors</a></li>
      <li class="divider"></li>
      <li><a id="context-tour" tabindex="-1" href="#"><span class="glyphicons glyphicons-more-items"></span> Re-Enable Tour</a></li>
      <li><a id="context-styles" tabindex="-1" href="#"><span class="glyphicon glyphicon-edit"></span> Style Options</a></li>
    </ul>
  </div>
  
  <div class="modal fade" id="modal-edit-node" tabindex="-1" role="dialog" aria-labelledby="edit-node-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="edit-node-modal-label">&nbsp;</h4>
        </div>
        <div class="modal-body">
          
          <form class="form-horizontal">
            <input type="hidden" id="edit-node-id">
            <div class="form-group">
              <label class="col-sm-2 control-label">ORF</label>
              <div class="col-sm-10">
                <span id="node-orf" class="form-info"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <span id="node-name" class="form-info"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Allele</label>
              <div class="col-sm-10">
                <span id="node-allele" class="form-info"></span>
              </div>
            </div>
<!--             <div class="form-group"> -->
<!--               <label class="col-sm-2 control-label">SGD url</label> -->
<!--               <div class="col-sm-10"> -->
<!--                 <span id="node-sgd" class="form-info"></span> -->
<!--               </div> -->
<!--             </div> -->
            
            <div class="form-group">
              <label for="edit-node-label" class="col-sm-2 control-label">Label</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-node-label" placeholder="Label">
              </div>
            </div>
            <div class="form-group">
              <label for="edit-node-color" class="col-sm-2 control-label">Color</label>
              <div class="col-sm-10">
                  <div class="input-group bs-colorpicker">
                      <input id="edit-node-color" type="hidden" class="form-control" />
                      <span class="input-group-addon"><i></i></span>
                  </div>
<!--                 <input class="form-control pick-a-color" id="edit-node-color"> -->
              </div>
            </div>
<!--             <div class="form-group"> -->
<!--               <label for="edit-node-label-force" class="col-sm-2 control-label">Label always visible?</label> -->
<!--               <div class="col-sm-10"> -->
<!--                 <input class="form-control" id="edit-node-label-force" type="checkbox"> -->
<!--               </div> -->
<!--             </div> -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Node Size</label>
              <div class="col-sm-10">
                <div id="style-slider-snsize"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                  <table class="table">
                      <thead>
                          <tr>
                            <th style="width: 1%;"></th>
                            <th>Annotation</th>
                            <th style="width: 1%;">Dominant</th>
                          </tr>
                      </thead>
                      <tbody id="node-annotation-table">
                      </tbody>
                  </table>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                  <table class="table" id="attribute-table">
                      <thead id="attribute-head">
                      </thead>
                      <tbody id="attribute-body">
                      </tbody>
                  </table>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary modal-confirm" id="edit-node-confrim">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal-rotation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="rotation-modal-label">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rotate graph by an arbitrary angle</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control rotation-input" placeholder="Degrees">
            <span class="input-group-addon">degrees</span>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="rotation-select">
              Rotate selected nodes only
            </label>
          </div>
          <div id="alerts-panel-rotate"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary modal-confirm" id="rotate-confirm">Rotate</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal-copy" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="copy-modal-label">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Copy Selected Nodes </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control" id="node-selected-list">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-clipboard" data-clipboard-target="#node-selected-list">Copy</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal-custom-annotation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload cutom annotations</h4>
        </div>
        <div class="modal-body">
          <p>
           Please upload na Excel&reg; spreadsheet with your custom gene annotations in a
           <em>gene -> term</em> pair format. If a gene belongs to more than one term use multiple lines.
          </p>
          <p>
           Only the first sheet in the uploaded file is used and it <strong>must</strong> have a header
           row and two columns (both required):
          </p>
          <dl class="dl-horizontal">
            <dt>ORF</dt><dd>Gene's systematic name (ie: YNL271C).</dd>
            <dt>Annotation</dt><dd>Annotation text.</dd>
          </dl>
        
          <div class="form-group">
            <label class="btn btn-default btn-file">
                Browse <input type="file" class="form-control" id="custom-annot-file" style="display: none;">
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="custom-annot-submit" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="vizualization-ui" id="draw-ui" style="display: none;">
  <div class="draw-top-right">
    <div class="btn-group-vertical fill-radio" data-toggle="buttons">
      <label class="btn btn-default disabled">Fill</label>
      <label class="btn btn-primary disabled">
        <input type="radio" name="fill" value="true">
          <span class="glyphicon glyphicon-ok"></span>
      </label>
      <label class="btn btn-primary disabled active">
        <input type="radio" name="fill" value="false" checked>
          <span class="glyphicon glyphicon-remove"></span>
      </label>
    </div>
  </div>
  <div class="draw-top-left">
    <div class="btn-group-vertical shape-radio" data-toggle="buttons">
      <label class="btn btn-default">Shape</label>
      <label class="btn btn-primary">
        <input type="radio" name="shape-square" data-shape="square">
          <span class="glyphicons white glyphicons-vector-path-square"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="shape-circle" data-shape="circle">
          <span class="glyphicons white glyphicons-vector-path-circle"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="shape-line" data-shape="line">
          <span class="glyphicons white glyphicons-vector-path-line"></span>
      </label>
      <label class="btn btn-primary active">
        <input type="radio" name="free" data-shape="free" checked>
          <span class="glyphicons white glyphicons-pencil"></span>
      </label>
    </div>
  </div>
  
  <div class="draw-bottom-right">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" id="draw-confirm"> Confirm</button>
      <button type="button" class="btn btn-default" id="draw-cancel"> Close</button>
    </div>
  </div>
</div>

<form id="yeastmine-post" action="http://yeastmine.yeastgenome.org/yeastmine/portal.do" method="post" target="_blank">
    <input type="hidden" name="class" value="Gene">
<!--     <input type="hidden" name="extraValue" value="S. cerevisiae"> -->
    <input type="hidden" name="externalids">
</form>
