{% extends "ui/base_ui.html" %}
{% load staticfiles  %}

{% block uiElements %}
  <div class="top-left hidden-sm hidden-xs">
    <div id="dataset-toggle" class="hidden" data-toggle-name="switch-dataset" data-toggle="buttons-radio" data-simple-step="2">
        <button type="button" value="correlation" data-toggle="button" data-dataset="0" class="btn btn-primary active" data-title="Switch to profile similarity network">Profile similarity network</button>
        <button type="button" value="interaction" data-toggle="button" data-dataset="1" class="btn btn-primary" title="Switch to genetic interaction network" data-title="Switch to genetic interaction network">Genetic interaction network</button>
    </div>
    
    <div class="select2-div" data-simple-step="1">
      <div class="input-group search-bar">
        <div class="input-group-addon btn-copy">
          <span class="glyphicon glyphicon-search"></span>
          <span class="glyphicons glyphicons-duplicate hidden"></span>
        </div>
        <input class="gene-search-input form-control" type="hidden">
      </div>
    </div>
  </div>
  
  <div class="middle-right hidden" data-simple-step="2">
    <button id="cutoff-label-max" type="button" class="btn btn-success cutoff-label cutoff-label-max" style="visibility: hidden;">&nbsp;</button>
    
    <div id="cutoff-bar-cor" class="cutoff-bar cutoff-cor" data-dataset="0" data-orientation="vertical" data-direction="rtl"></div>
    <div id="cutoff-bar-int" class="cutoff-bar cutoff-int" data-dataset="1" data-orientation="vertical" style="display: none;"></div>
    
    <button id="cutoff-label-min" type="button" class="btn btn-default cutoff-label cutoff-label-min"></button>
    
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default btn-zoom-in" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom in" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default btn-home" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Center view and adjust zoom" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-record"></span>
      </button>
      <button type="button" class="btn btn-default btn-zoom-out" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom out" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>
  </div>
  
  <div class="top-right-simple hidden-sm hidden-xs">
    <div class="btn-group-simple hidden" data-simple-step="1" data-simple-keep="true">
      <button id="view-network-simple" type="button" class="btn btn-primary" data-selection-constraint data-selection-gt="0"> View Network </button>
      <button id="download-selected-simple" type="button" class="btn btn-primary" data-selection-constraint data-selection-gt="0" data-selection-lt="20"> Download</button>
    </div>
  </div>
{% endblock %}