{% extends "ui/base_ui.html" %}
{% load staticfiles  %}

{% block uiElements %}
  <div class="top-left clearfix">
    <div class="btn-group hidden" id="dataset-toggle" data-toggle-name="switch-dataset" data-simple-step="2" data-toggle="buttons"
     data-intro="The type of network can be toggled here." data-step="5">
      <label class="btn btn-primary btn-outline active" data-dataset="0" data-title="Switch to profile similarity network" >
        <input type="radio" data-dataset="0" name="selectedDataset" autocomplete="off" checked> Profile Similarity Network
      </label>
      <label class="btn btn-primary btn-outline" data-dataset="1" data-title="Switch to genetic interaction network">
        <input type="radio" data-dataset="1" name="selectedDataset" autocomplete="off"> Genetic Interaction Network
      </label>
    </div>
    
    <div class="select2-div pull-left" data-simple-step="1" data-intro="This is the search bar." data-step="1">
      <div class="input-group search-bar hidden-xs">
        <input class="gene-search-input form-control" type="hidden">
      </div>
      <div class="visible-xs-block">
        <button type="button" class="btn btn-default btn-show-search" data-toggle="modal" data-target="#modal-search">
            <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div>
    
    <button id="view-network-simple" type="button" class="btn btn-primary btn-outline pull-left hidden" data-selection-constraint data-selection-gt="0" data-selection-lt="30" 
     data-selection-disabled-title="Please select up to 30 nodes"
     data-intro="The Extracts Subnetworks button displays the sub-network for the selected nodes." data-simple-step="1" data-step="2"> Extract Subnetwork </button>
  </div>
  
  <div class="middle-right hidden" data-simple-step="2">
    <button id="cutoff-label-max" type="button" class="btn btn-gi-pos cutoff-label cutoff-label-max" style="visibility: hidden;">&nbsp;</button>
    
    <div id="cutoff-bar-cor" class="cutoff-bar cutoff-cor" data-dataset="0" data-orientation="vertical" data-direction="rtl"
     data-intro="The cutoff bar controls the minium edge correlation shown on the network." data-step="3" data-position="left"></div>
    <div id="cutoff-bar-int" class="cutoff-bar cutoff-int" data-dataset="1" data-orientation="vertical" style="display: none;"
     data-intro="This cutoff bar controls the edge cutoffs for the genetic interaction network." data-step="6" data-position="left"></div>
    <div id="cutoff-bar-safe" class="cutoff-bar cutoff-safe" data-dataset="s" data-orientation="vertical" style="display: none;"
     data-direction='ltr'></div>
    
    <button id="cutoff-label-min" type="button" class="btn btn-default cutoff-label cutoff-label-min"
     data-hint="The cutoff can also be manually inputed." data-position="left"></button>
    
    <div class="btn-group-vertical" data-hint="These buttons controls the network display." data-position="left">
      <button type="button" class="btn btn-default btn-zoom-in" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom in" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default btn-home" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Center view and adjust zoom" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-record"></span>
      </button>
      <button type="button" class="btn btn-default btn-zoom-out" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom out" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>
  </div>
  
  <div class="top-right-simple clearfix">
      <div class="hidden clearfix" data-simple-step="1" data-simple-keep="true">
        <div class="dropdown inline-button-grp hidden" data-simple-step="2" data-intro="Annotations can be loaded using this button." data-step="4">
          <button class="btn btn-primary btn-outline dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Annotate Network
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu btn-group-annotation" aria-labelledby="dropdownMenu1">
          </ul>
        </div>
        
        <button id="btn-view-tabular" type="button" class="btn btn-primary btn-outline" data-selection-constraint data-selection-gt="0" data-selection-lt="30" 
         data-selection-disabled-title="Please select up to 30 nodes" data-toggle="tooltip" data-placement="bottom"
         data-hint="View network as a table" data-hintposition="bottom-middle" data-position="bottom-middle-aligned"> View as Table</button>
        <button id="download-selected-simple" type="button" class="btn btn-primary btn-outline" data-selection-constraint data-selection-gt="0" 
         data-selection-lt="30" data-selection-disabled-title="Please select up to 30 nodes" data-toggle="tooltip" data-placement="bottom"
         data-hint="Download dataset" data-hintposition="bottom-middle" data-position="bottom-right-aligned"> Download</button>
       </div>
       
       {% if user.is_authenticated %}
      <button id="tools-safe" type="button" class="btn btn-info btn-outline" data-simple-step="1" 
            data-toggle="modal" data-target="#modal-safe"> Overlay Data</button>
      {% endif %}
  </div>
  
  <div class="modal fade" id="modal-search" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="modal-safe" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Overlay Data</h4>
        </div>
        <div class="modal-body">
            <div>
              <p><a href="https://www.ncbi.nlm.nih.gov/pubmed/27237738">SAFE analysis</a> to identify regions of the global similarity
      network that are significantly enriched for genes exhibiting negative or positive genetic
      interactions with a gene of interest (see Fig. 9 in <a href="https://www.ncbi.nlm.nih.gov/pubmed/27708008">Costanzo et al 2016</a> for an example). Or,
      upload a gene list and identify network regions that are significantly enriched for your
      favourite genes.</p>
              <hr>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#safe-tab-selected" aria-controls="safe-tab-selected" role="tab" data-toggle="tab">Selected Genes</a></li>
                <li role="presentation"><a href="#safe-tab-custom" aria-controls="safe-tab-custom" role="tab" data-toggle="tab">Upload a Gene List</a></li>
              </ul>
              
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="safe-tab-selected">
                  <form id="safe-selected-form" action="{% url 'safe' dataset.id %}" method="post" class="form-horizontal">
                  {% csrf_token %}
                  <input type="hidden" name="safe-type" value="selected">
                  <h5>Overlay genetic interactions for selected gene mutant</h5>
                  
                  <div class="form-group">
                    <label for="safe-selected-nodes" class="col-sm-3 control-label">Gene mutant</label>
                    <div class="col-sm-9">
                      <select id="safe-selected-nodes" name="node" class="form-control"></select>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Negative GI</label>
                    <div class="col-sm-9">
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                          <input type="radio" name="neg" autocomplete="off" value="unused"> Do not use
                        </label>
                        <label class="btn btn-primary active">
                          <input type="radio" name="neg" autocomplete="off" value="intermediate" checked> Intermediate
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="neg" autocomplete="off" value="stringent"> Stringent
                        </label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Positive GI</label>
                    <div class="col-sm-9">
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                          <input type="radio" name="pos" autocomplete="off" value="unused"> Do not use
                        </label>
                        <label class="btn btn-primary active">
                          <input type="radio" name="pos" autocomplete="off" value="intermediate" checked> Intermediate
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="pos" autocomplete="off" value="stringent"> Stringent
                        </label>
                      </div>
                    </div>
                  </div>

                  </form>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="safe-tab-custom">
                  <form id="safe-custom-form" action="{% url 'safe' dataset.id %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <input type="hidden" name="safe-type" value="custom">
                    <h5>Paste a list of genes into the textbox below</h5>
                    
                    <div class="form-group">
                    <label for="safe-custom-name" class="col-sm-3 control-label">Name</label>
                      <div class="col-sm-9">
                        <input id="safe-custom-name" name="name" class="form-control" value='Custom List'>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <div class="col-sm-12">
                        <textarea id="safe-hit-list" name="hit_list" class="form-control" rows="5"></textarea>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="safe-custom-color" class="col-sm-3 control-label">Hue</label>
                      <div class="col-sm-9">
                        <input id="safe-custom-color" type="text" value="00FF00" name="custom-list-color" class="form-control">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button id="safe-submit" type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}