{% load staticfiles base_extras %}

<script type="text/javascript">
$('.vizualization-ui').ready(function() {
  $( window ).resize(function() {
      var parent = $('.vizualization-ui').parent();
      $('.vizualization-ui').css('height', parent.innerHeight());
      $('.vizualization-ui').css('width', parent.innerWidth());
  }).resize();
});
</script>

<div class="top-left hidden-sm hidden-xs">
  <div class="btn-group hidden" data-hidden-network>
    <button type="button" class="btn btn-default btn-zoom-in" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom in" data-container=".vizualization-ui">
      <span class="glyphicon glyphicon-zoom-in"></span>
    </button>
    <button type="button" class="btn btn-default btn-home" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Center view and adjust zoom" data-container=".vizualization-ui">
      <span class="glyphicon glyphicon-record"></span>
    </button>
    <button type="button" class="btn btn-default btn-zoom-out" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom out" data-container=".vizualization-ui">
      <span class="glyphicon glyphicon-zoom-out"></span>
    </button>
  </div>
  
  <div style="position: relative; display: inline-block; vertical-align: middle;" data-hidden-search>
    <div id="search-bar" class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search switch-ui"></span>
      <input class="gene-search-input form-control" type="hidden">
    </div>
  </div>
</div>

<div class="top-right-simple hidden-sm hidden-xs">
  <div class="btn-group-simple hidden" data-hidden-simple-btn>
    <button id="download-selected" type="button" class="btn btn-primary" data-selection-constraint data-selection-gt="0" data-selection-lt="20"> Download table</button>
    <button id="simple-view-network" type="button" class="btn btn-primary" data-selection-constraint data-selection-gt="0"> View Network </button>
  </div>
  
  <div class="cutoff-bar-group hidden" data-hidden-network>
    <button id="cutoff-label-max-simple" type="button" class="btn btn-success cutoff-label-simple cutoff-label-max" style="visibility: hidden;">&nbsp;</button>
    <div id="cutoff-bar-cor-simple" class="cutoff-bar-simple cutoff-cor" data-dataset="0" data-ori="horizontal"></div>
    <div id="cutoff-bar-int-simple" class="cutoff-bar-simple cutoff-int" data-dataset="1" data-ori="horizontal" style="display: none;"></div>
    <button id="cutoff-label-min-simple" type="button" class="btn btn-default cutoff-label-simple cutoff-label-min"></button>
  </div>
</div>

<div class="bottom-left">
  <div id="btn-group-datasets" class="btn-group dropup hidden" data-hidden-network>
    <img src="{% static 'images/interactions.png' %}" class="data-type-img" id="cor-img" data-id="1">
    <img src="{% static 'images/correlations.png' %}" class="data-type-img hidden" id="int-img" data-id="0">
  </div>
</div>

<div class="bottom-right" >
  <span class="glyphicons glyphicons-cogwheels dropdown-toggle icon-button style-icon-button" data-toggle="modal" data-target="#modal-style"></span>
</div>