body {
    cursor: none;
}

#stats {
    position: absolute;
    top: 0px;
    margin: 5px;
}

#cursor {
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: 1;
    width: 12px;
    height: 12px;
    background-color: #E3E3E3;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #ff0000;
}

#gui {
    position: absolute;
    right: 0px;
    margin: 5px;
    top: 0px;
    height: 100%;
}

#network-container {
    position: absolute;
}