body {
    cursor: none;
}

#stats {
    position: absolute;
    top: 0px;
    margin: 5px;
}

#scene-gui {
    position: absolute;
    left: 0;
}

#canvas-gui {
    position: absolute;
}

#network-container {
    position: absolute;
}