.sigma-parent {
    min-height: 480px;
    height: 100%;
}

.sigma-expand {
    background: #222222;
    border-radius: 8px;
    height: 100%;
}

#inner-container {
    padding-top: 10px;
}

.vizualization-ui {
    padding: 5px 5px; /* make a nice 5px gap between ui and network border */
    pointer-events: none;
    position: absolute;
}

.vizualization-ui > * {
    position: absolute;
}

.vizualization-ui > * > * {
    pointer-events: auto;
}

.top-left > * {
    display: inline-block;
}

.form-group .input-group-btn {
    width: 1% !important;
}

.center {
    left: 50%;
}

#btn-toggle-layout {
    height: 54px;
    margin-left: 36px;
}

.cutoff-bar {
    width: 300px;
    top: 9px;
    left: 20px;
}

#cutoff-label {
    position: relative;
    top: 30px;
    left: 20px;
    padding: 7px 7px;
    text-align: center;
    background-color: #01AEF0;
}

.modal-dialog {
    width: 1024px;
}

.panel-publication {
    margin-bottom: 0px;
}

.panel-publication .panel-body {
    display: none;
}

.pi-image {
    background: #ffffff url(../ccbr/all_pi.jpg) no-repeat left top;
    width: 132px;
    height: 198px;
    border-radius: 5%;
}

.pi-icon {
    background: #ffffff url(../ccbr/all_pi_small_square_75x75.jpg) no-repeat left top;
    width: 75px;
    height: 75px;
    margin: 0 0 5px 5px;
    border-radius: 50%;
}

#publication-list {
    max-height: 600px;
}

.data-loading {
    display: none;
}

#pi-info .row {
    margin-top: 5px;
}

.panel-publication .row {
    padding: 6px;
}

