{% extends "_layouts/base.html" %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/social.css' %}">
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block page_title_suffix %} - About{% endblock %}
{% block content %}
  <div class="container">
    <h2>Developed by</h2>
    <ul>
        <li><a href="mailto:m.usaj@thecellmap.org">Matej Usaj</a></li>
    </ul>
    
    <h2>Thanks to the following libraries and their developers</h2>
    <ul>
        <li><a href="https://www.djangoproject.com/">Django</a></li>
        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        <li><a href="http://jquery.com/">jQuery</a></li>
        <li><a href="http://glyphicons.com/">Glyphicons PRO</a></li>
        <li><a href="http://sigmajs.org/">sigma.js</a></li>
    </ul>
    <a href="http://ivaynberg.github.io/select2/">select2</a>, 
    <a href="http://lauren.github.io/pick-a-color/">Pick-a-Color</a>, 
    <a href="http://twitter.github.io/typeahead.js/">typeahead.js</a>, 
    <a href="http://medialize.github.io/jQuery-contextMenu/">jQuery-contextMenu</a>, 
    <a href="http://davidwalsh.name/fullscreen">fullscreen</a>, 
    <a href="https://github.com/eligrey/FileSaver.js">FileSaver.js</a>, 
    <a href="https://github.com/eligrey/Blob.js">Blob.js</a>, 
    <a href="https://github.com/eligrey/canvas-toBlob.js">canvas-toBlob.js</a>, 
    <a href="http://flesler.blogspot.ca/2008/03/xmlwriter-for-javascript.html">XMLWriter</a>,
    <a href="http://refreshless.com/nouislider/">$.noUiSlider</a>
  </div>
{% endblock %}
