{% extends "_layouts/base.html" %}
{% load staticfiles require %}
{% block page_title_suffix %} - {{ dataset.verbose_name }} network {% endblock %}

{% block meta %}
{{ block.super }}
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock meta%}

{% block css %}
{{ block.super }}
  <link href="{% static 'css/ccbr.css' %}" rel="stylesheet">
  <link href="{% static 'css/nouislider-8.0.1.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block js %}
{{ block.super }}
  <script type='text/javascript'>
    window.opts = {
        urls: {
            authors: "{{ root }}/ccbr/authors.json",
            articles: "{{ root }}/ccbr/articles.json",
        },
    }
  </script>
  {% require_module 'collaboration' %}
{% endblock js %}

{% block content %}

<!--[if lt IE 9]>
<p>Sorry, we are not supporting your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. 
TheCellMap.org recommends <a href="https://www.google.com/chrome/browser/">Google Chrome</a> for best performance.</p>
<!--<![endif]-->

<div class="container-fluid"
     style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
     unselectable='on'
     onselectstart='return false;' 
     onmousedown='return false;'>
    <div id="inner-container">
      <div id="sigma-parent" class="sigma-parent">
        <div id="network-container" class="sigma-expand"></div>
      </div>
    </div>
</div>

<div id='ui-placeholder' >
  <div class="vizualization-ui" id="ui" style="display: none;">
    
    <div class="top-left hidden-sm hidden-xs">
      <div class="cutoff-bar-group">
        <div id="cutoff-bar-date" class="cutoff-bar"></div>
        <span id="cutoff-label" class="label label-primary">Date</span>
      </div>
      <div id="btn-toggle-layout" class="btn-group">
        <button type="button" class="btn btn-primary">Pause Layout</button>
      </div>
    </div>
    
    <div class="modal fade" id="modal-pi" tabindex="-1" role="dialog" aria-labelledby="modal-style-label"
    aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-style-label">Network style</h4>
          </div>
          <div class="modal-body" id="modal-publication">
            <div class="row">
              <div id="pi-info" class="col-md-2">
                <div class="pi-image"></div>
                <div class="row"><div class="col-md-12"><a href="" class="pi-homepage">Homepage</a></div></div>
                
              </div>
              <div class="col-md-10"><div id="publication-list" class="list-group" data-mcs-theme="rounded-dark"></div></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div> <!-- /.modal-content -->
      </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
  </div>
</div>
{% endblock content %}

{% block navbar_items %}
{{ block.super }}
<ul class="nav navbar-nav changed-network hidden">
  <li class="refresh-network"><a href="#" title="Reload this network" data-toggle="tooltip" data-placement="bottom" data-delay="500">
    <span class="glyphicon glyphicon-refresh hidden-xs"></span>
    <span class="visible-xs">Reload network</span>
  </a></li>
</ul>
{% endblock %}

{% block footer %}
{% endblock footer %}
