{% extends "_layouts/base.html" %}
{% load staticfiles require compress %}
{% block page_title_suffix %}{% if not dataset.is_default %} - {{ dataset.verbose_name }}{% endif %}{% endblock %}

{% block meta_description %}{% spaceless %}{% if request.path == "/" %}
Providing access to quantitative genomic data is key to ensure large-scale data validation and promote new discoveries.
TheCellMap.org serves as the central repository for quantitative genetic interaction data for Saccharomyces cerevisiae
produced by systematic Synthetic Genetic Array (SGA) experiments in the Boone/Andrews labs. We provide a set of basic
tools for analyzing genetic interaction data and allow a user to easily visualize, explore and functionally annotate
genetic interactions as well as extract and re-organize sub-networks using data-driven or annotation-driven network
layouts in an intuitive and interactive manner.{% else %}{{ dataset.public_description }}{% endif %}{% endspaceless %}{% endblock %}

{% block meta %}
{{ block.super }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock meta%}

{% block css %}
{{ block.super }}
  <link href="{% static 'css/glyphicons.css' %}" rel="stylesheet">
  <link href="{% static 'css/networks.css' %}" rel="stylesheet">
  <link href="{% static 'css/viznetworks.css' %}" rel="stylesheet">
  <link href="{% static 'css/pick-a-color-1.2.3.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/nouislider-8.0.1.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/settings.css' %}" rel="stylesheet">
  <link href="{% static 'css/ladda-themeless.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/select2.css' %}" rel="stylesheet">
  <link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-colorpicker.css' %}" rel="stylesheet">
  <link href="{% static 'css/introjs.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block js %}
{{ block.super }}
  {% compress js %}
  <script type='text/javascript'>
    function getCookie(cname) {
        var name = cname + '=';
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) {
                return c.substring(name.length,c.length).replace(/^\"|\"$/g, '');
            }
        }
        return '';
    }
    
    window.opts = {
        urls: {
            nodes: "{{ dataset.static_url }}/nodes.json?v=170131",
            layout: "{{ dataset.static_url }}/{{ layout }}?v=170123",
            correlations: "{{ dataset.static_url }}/correlations.json",
            interactions: {% if dataset.type == 'I' %} "{{ dataset.static_url }}/interactions.json" {% else %} "interactions/" {% endif %},
            circle: "{% url 'circle_pack' %}",
            home: "{% url 'home' %}",
        },
        annotations: [{% for annot in annotations %}{
            id: "{{ annot.id }}",
            name: "{{ annot.name }}",
            url: "{% url 'annotation' annot.id %}",
        },{% endfor %}],
        regionGroups: [{% for r in regionGroups %} {
            id: "{{ r.id }}",
            name: "{{ r.name }}",
            url: "{% url 'region_group' dataset.id r.id %}",
        }, {% endfor %}],
        default_annotation: "{{ dataset.default_annotation }}",
        dataset_id: "{{ dataset.pk }}",
        canBulkDownload: {% if can_bulk_download %}true{% else %}false{% endif %},
        {% if debug %}
          debug: true,
        {% endif %}
        {% if extra %}
        extra: {
            'id': "{{ extra.id }}",
            'static_url': "{{ extra.static_url }}/scores.json",
        },
        {% endif %}
        {% if dataset.directed %} arrows: true, {% endif %}
        {% if dataset.type == 'I'%} dataset: 1, {% endif %}
    }
  </script>
  {% endcompress %}
  {% require_module 'network' %}
{% endblock js %}

{% block content %}
<!--[if lt IE 9]>
<p>Sorry, we are not supporting your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. 
TheCellMap.org recommends <a href="https://www.google.com/chrome/browser/">Google Chrome</a> for best performance.</p>
<![endif]-->

<div class="container-fluid network-parent">
    {% csrf_token %}
    <div id="inner-container">
      <div id="sigma-parent" class="sigma-parent">
        <div id="network-container" class="sigma-expand">
        </div>
      </div>
    </div>
</div>

<div id='ui-placeholder' >
  <!-- {% if ui == 'advance' %} 
    {% include 'ui/ui.html' %}
  {% else %} -->
    {% include 'ui/simple_ui.html' %}
<!--   {% endif %} -->
</div>
{% endblock content %}

{% block navbar_items %}
{{ block.super }}
<ul class="nav navbar-nav hidden" data-simple-step="2">
  <li class="refresh-network"><a href="#" title="Reload this network" data-toggle="tooltip" data-placement="bottom" data-delay="500">
    Start a new search
<!--     <span class="glyphicon glyphicon-refresh hidden-xs"></span> -->
<!--     <span class="visible-xs">Reload network</span> -->
  </a></li>
</ul>
{% endblock %}

{% block navbar_menu_items_before %}
{% endblock %}

{% block footer %}
{% endblock footer %}
