{% extends "_layouts/base.html" %}

{% load staticfiles base_extras %}

{% block page_title_suffix %} - Network{% endblock %}

{% block meta %}
{{ block.super }}
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock meta%}

{% block cdn_css %}
{{ block.super }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css">
<!--   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2-bootstrap.css"> -->
{% endblock cdn_css %}

{% block css %}
{{ block.super }}
  <link href="{% static 'css/glyphicons.css' %}" rel="stylesheet">
  <link href="{% static 'css/filetypes.css' %}" rel="stylesheet">
  <link href="{% static 'css/spectrum.css' %}" rel="stylesheet">
  <link href="{% static 'css/typeahead.js-bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/viznetworks.css' %}" rel="stylesheet">
  <link href="{% static 'css/pick-a-color-1.2.3.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/ladda-themeless.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.nouislider.css' %}" rel="stylesheet">
  <link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet"> <!-- The cdnjs version of this is still not ready... firefox problems with height -->
  <link href="{% static 'css/bootstrap-submenu.css' %}" rel="stylesheet">
{% endblock css %}

{% block cdn_js %}
{{ block.super }}
  {% if debug %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  <script src="{% static "js/libs/typeahead.min.js" %}"></script>
<!--   <script src="{% static "js/libs/select2.js" %}"></script> -->
  {% else %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
  <script>jQuery.fn.typeahead || document.write('<script src="{% static "js/libs/typeahead.min.js" %}"><\/script>')</script>
<!--   <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js"></script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
  {% endif %}
{% endblock cdn_js %}

{% block js %}
{{ block.super }}
<!--[if gt IE 8]><!-->
  <!-- TEMPORARY! CHANGE BACK TO OFFICIAL VERSION WHEN THEY FIX IT -->
  <script src="{% static 'js/libs/select2.js' %}"></script>
  
  <script src="{% static 'js/libs/chroma.js' %}"></script>
  <script src="{% static 'js/libs/chroma.palette-gen.js' %}"></script>
  
  <script src="{% static 'js/libs/isigma.js' %}"></script>
  <script src="{% static 'js/libs/sigma_plugins/sigma.parseJson.js' %}"></script>
  <script src="{% static 'js/libs/sigma_plugins/sigma.forcelayout.js' %}"></script>
  <script src="{% static 'js/libs/sigma_plugins/sigma.boonetools.js' %}"></script>
  <script src="{% static 'js/libs/sigma_plugins/sigma.rotate.js' %}"></script>
  <script src="{% static 'js/libs/sigma_plugins/sigma.pulse.js' %}"></script>
  <script src="{% static 'js/libs/jquery.contextMenu.js' %}"></script>
  <script src="{% static 'js/libs/fullScreenApi.js' %}"></script>
  <script src="{% static 'js/libs/colors.js' %}"></script>
  <script src="{% static 'js/libs/utils.js' %}"></script>
  <script src="{% static 'js/libs/combinations.js' %}"></script>
  <script src="{% static 'js/libs/graph/Undo.js' %}"></script>
  <script src="{% static 'js/libs/graph/State.js' %}"></script>
  
  <script src="{% static 'js/libs/jquery.booneGraph.js' %}"></script>
  <script src="{% static 'js/libs/FileSaver.js' %}"></script>
  <script src="{% static 'js/libs/Blob.js' %}"></script>
  <script src="{% static 'js/libs/canvas-toBlob.js' %}"></script>
  <script src="{% static 'js/libs/XMLWriter-1.0.0-min.js' %}"></script>
  <script src="{% static 'js/libs/tinycolor-0.9.15.min.js' %}"></script>
  <script src="{% static 'js/libs/pick-a-color.js' %}"></script> <!-- THIS IS VERSION 1.2.3 -->
  <script src="{% static 'js/libs/spin.js' %}"></script>
  <script src="{% static 'js/libs/ladda.js' %}"></script>
  <script src="{% static 'js/libs/jquery.nouislider.js' %}"></script>
  
  <script src="{% static 'js/libs/modernizr-pointerevents.min.js' %}"></script>
  
  <script type="text/javascript">
  (function($) {
    $(document).ready(function() {
        $( window ).resize(function() {
            $('.sigma-parent').css('height', $(window).height() - $(".navbar").height() - 30);
        }).resize();
        
        $.cookie('csrftoken', $("{% csrf_token %}").attr('value'));
        
        $("#network-container").booneGraph({
            layout: {
                    id: "{{ dataset.id }}",
                    url: "{{ dataset.static_url }}/layout.json",
                    name: "{{ dataset.name }}",
                    parser: "json",
                    dataset: 1
                },
            annotations: [{% for annot in annotations %}{
                    id: {{ annot.id }},
                    name: "{{ annot.name }}",
                    url: "{% url 'annotation' annot.id %}"
                },{% endfor %}],
            datasets: [{
                  id: "{{ dataset.id }}",
                  url: "{{ dataset.static_url }}/correlations.json",
                  name: "Correlations",
                  parser: "json",
                  type: 1
            }],
            layoutAlgo: ['fl'],
            nodesUrl: "{{ dataset.static_url }}/nodes.json",
            debug: {% if debug %}true{% else %}false{% endif %},
            layoutButtonHide: false,
            slider: {
                min : 0,
                step : 0.01,
                value : 0.20,
                max : 1,
                updateLimits: false
            },
            uiUrl: "{% static 'ui.html' %}",
            canBulkDownload: {% if can_bulk_download %}true{% else %}false{% endif %}
        });
    });
  })(jQuery);
  </script>
<!--<![endif]-->
{% endblock js %}

{% block content %}
<!--[if lt IE 9]>
<p>Sorry, we are not supporting your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. 
TheCellMap.org recommends <a href="https://www.google.com/chrome/browser/">Google Chrome</a> for best performance.</p>
<!--<![endif]-->
<div class="container-fluid"
     style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
     unselectable='on'
     onselectstart='return false;' 
     onmousedown='return false;'>
    <div id="inner-container">
      <div id="sigma-parent" class="sigma-parent">
        <div id="network-container" class="sigma-expand">
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block navbar_items %}
{{ block.super }}
<ul class="nav navbar-nav changed-network hidden">
  <li class="undo-network"><a href="#" title="Undo change" data-toggle="tooltip" data-placement="bottom" data-delay="500">
    <span class="glyphicon glyphicon-chevron-left hidden-xs"></span>
    <span class="visible-xs">Undo</span>
  </a></li>
  <li class="refresh-network"><a href="#" title="Reload this network" data-toggle="tooltip" data-placement="bottom" data-delay="500">
    <span class="glyphicon glyphicon-refresh hidden-xs"></span>
    <span class="visible-xs">Reload network</span>
  </a></li>
  <li class="redo-network"><a href="#" title="Redo change"  data-toggle="tooltip" data-placement="bottom" data-delay="500">
    <span class="glyphicon glyphicon-chevron-right hidden-xs"></span>
    <span class="visible-xs">Redo</span>
  </a></li>
</ul>
{% endblock %}

{% block footer %}{% endblock footer %}
