.sigma-parent {
    min-height: 480px;
    height: 100%;
}

.sigma-expand {
    background: #222222;
    border-radius: 8px;
    height: 100%;
}

#inner-container {
    padding-top: 10px;
}

.vizualization-ui {
    padding: 5px 5px; /* make a nice 5px gap between ui and network border */
    pointer-events: none;
    position: absolute;
}

.vizualization-ui > * {
    position: absolute;
}

.vizualization-ui > * > * {
    pointer-events: auto;
}

.top-left {
    top: 20px;
    padding-left: 42px;
}

.top-left > * {
    display: inline-block;
}

.top-right {
    right: 5px;
    width: 40px;
    height: 60px;
}

.top-center {
    width: 100%;
}

.bottom-left {
    bottom: 5px;
    padding: 6px 12px;
}

.cutoff-bar {
    width: 300px;
    cursor: pointer;
}

.noUi-handle {
    cursor: pointer;
}

#cutoff-label {
    position: relative;
    top: 30px;
    left: 20px;
    padding: 7px 7px;
    text-align: center;
    background-color: #01AEF0;
}

.modal-dialog {
    width: 1024px;
}

.panel-publication {
    cursor: pointer;
    margin-bottom: 0px;
}

.panel-publication .panel-body {
    display: none;
}

.pi-image {
    background: #ffffff url(../ccbr/all_pi.jpg) no-repeat left top;
    width: 132px;
    height: 198px;
    border-radius: 5%;
}

.pi-icon {
    background: #ffffff url(../ccbr/all_pi_small_square_75x75.jpg) no-repeat left top;
    width: 75px;
    height: 75px;
    margin: 0 0 5px 5px;
    border-radius: 50%;
}

#pi-info .row {
    margin-top: 5px;
}

#publication-list {
    max-height: 600px;
}

.data-loading {
    display: none;
}

.panel-publication .row {
    padding: 6px;
}

#canvas-legend {
    position: absolute;
    left: 40px;
    padding: 5px;
    display: none;
}

.icon {
    color: #e2e2e2;
    margin: 0 2px;
    font-size: 17px;
    cursor: pointer;
}

.icon-dark {
    color: #707070;
}

.icon-legend {
    font-size: 17px;
    position: absolute;
    margin: 10px;
    z-index: 9;
}

.icon-group {
    width: 114px;
    padding: 2px 7px;
    opacity: 0.4;
    
    border-style: solid;
    border-radius: 20px;
    border-color: #a3a3a3;
    border-width: 2px;
    
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.icon-group:hover {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.icon-group > * {
    display:inline-block;
}

#label-date {
    display: block;
    position: absolute;
    border: 1px solid #D9D9D9;
    font: bold 12px Arial;
    border-radius: 3px;
    background: #fff;
    top: 32px;
    padding: 5px;
    left: -21px;
    text-align: center;
    width: 76px;
}

#scene {
    border-radius: 8px;
}

.disabled {
    color: #404040;
}
