body {
    overflow: hidden;
}

/* Stupid stupid stupid hack */
.glyphicons.table {
    width: auto;
    margin-bottom: auto;
    font-size: 19px;
    padding-right: 8px;
}

.content .container {
    width: auto;
}

#inner-container {
    padding-top: 10px;
}

#alerts-panel {
    position: absolute;
    top: 0;
    width: 66%;
    left: 17%;
    z-index: 1040;
}

#alerts-panel .alert-warning {
    text-align: center;
    margin-bottom: 2px;
}

.style-slider .slider-horizontal {
    width: 100% !important;
}

#btn-group-layout .layout-bar {
    width: 210px !important;
}

.btn-group .dropdown-menu.menu-right {
    left: 0;
    right: auto;
}

.btn-group .dropdown-menu {
    left: auto;
    right: 0;
}

.input-group .glyphicon {
    top: 0px;
}

.sigma-parent {
    min-height: 400px;
    height: 100%;
}

.sigma-expand {
    background: #222222;
    border-radius: 8px;
    height: 100%;
}

#contextmenu-container {
    width: 150px;
    position: absolute;
    z-index: 100;
}

.dialog-field {
    margin: 2px 0px;
}

.form-group .input-group-btn {
    width: 1% !important;
}

/** VIZ UI **/
.vizualization-ui {
    padding: 5px 5px; /* make a nice 5px gap between ui and network border */
    pointer-events: none;
    position: absolute;
}

.vizualization-ui > * {
    pointer-events: auto;
    position: absolute;
}

.top-right {
    right: 5px;
}

.bottom-left {
    bottom: 5px;
}

.bottom-right {
    bottom: 5px;
    right: 5px;
}

.middle-right {
    right: 5px;
    top: 0px;
    height: 100%;
    padding-top: 44px;
    padding-bottom: 60px;
}

.cutoff-bar {
    min-height: 100px;
    max-height: 300px;
    height: 50%;
    margin-bottom: 20px;
    margin-left: 11px;
}

.select2-choices {
    max-height: 300px;
    overflow-y: auto!important;
}

#btn-group-download {
    vertical-align: top;
}

.dropdown-menu a > span.glyphicons {
    font-size: 16px;
}

.dropdown-menu a > span:nth-child(2) {
    vertical-align: middle;
}

#btn-group-datasets .dropdown-menu {
    padding: 0px;
}

.cutoff-label {
    display: block;
    width: 40px;
    margin-bottom: 5px;
    padding: 6px 2px;
    text-align: center;
}

#cutoff-label-max {
    margin-bottom: 20px;
}

.cutoff-unreliable {
    background-color: #d9534f!important;
}

.form-info {
    padding: 6px 2px;
    display: block;
}

#node-annotation-table tr td:nth-child(2) {
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-word;
}

/* Some special annotation tab styling */

#style-annotation-accordion .panel {
    overflow: visible;
}

#style-annotation-accordion .pick-a-color-markup .input-group-btn {
    width: 100%!important;
}