{% extends "_layouts/base.html" %}

{% load crispy_forms_tags %}

{% block page_title_suffix %} - Contact us{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TheCellMap.org <small>storing and visualizing genetic interactions in <i>S. cerevisiae</i></small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>We appreciate your feedback!</h2>
        <p>Our team will address your issue and get in touch with you as soon as possible. Happy network browsing!</p>
      </div>
    </div>
  </div>
{% endblock %}
