<div class="modal fade" id="modal-settings" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" 
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="settings-modal-label">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills">
          <li {% if page_name == None %} class="active" {% else %} class="disabled" {% endif %}>
            <a href="#settings-network" {% if page_name == None %} data-toggle="tab" {% endif %}>Network</a>
          </li>
          <li {% if page_name == 'custom_upload' %} class="active" {% else %} class="disabled" {% endif %}>
            <a href="#settings-upload" {% if page_name == 'custom_upload' %} data-toggle="tab" {% endif %}>Custom Uploads</a>
          </li>
          <li {% if page_name == 'annotation' %} class="active" {% else %} class="disabled" {% endif %}>
            <a href="#settings-annotation" {% if page_name == 'annotation' %} data-toggle="tab" {% endif %}>Annotations</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade {% if page_name == None %} in active {% endif %}" id="settings-network">
            <ul class="list-group">
              <li class="list-group-item">UI: 
                <select class="pull-right settings-selects" id=ui>
                    <option value="simple">Simple UI</option>
                    <option value="advance">Advance UI</option>
                </select>
              </li>
              <li class="list-group-item">Display node label on networks with less than 100 nodes
                <input class="pull-right settings-checkboxes" type="checkbox" id="showLabel">
              </li>
              <li class="list-group-item">Disable mouse scroll to zoom
                <input class="pull-right settings-checkboxes" type="checkbox" id="disableScroll">
              </li>
              <li class="list-group-item">Show network background on SVG export
                <input class="pull-right settings-checkboxes" type="checkbox" id="showBgSvg">
              </li>
              <li class="list-group-item">Show network legend on SVG export
                <input class="pull-right settings-checkboxes" type="checkbox" id="showLegendSvg">
              </li>
            </ul>
            <div id="alerts-panel-settings"></div>
          </div>
          <div class="tab-pane fade {% if page_name == 'custom_upload' %} in active {% endif %}" id="settings-upload">
            <ul class="list-group">
              <li class="list-group-item">Always create custom networks as private
                <input class="pull-right settings-checkboxes" type="checkbox" id="isPrivate">
              </li>
            </ul>
          </div>
          <div class="tab-pane fade {% if page_name == 'annotation' %} in active {% endif %}" id="settings-annotation">
            <ul class="list-group">
              <li class="list-group-item">Download file type: 
                <select class="pull-right settings-selects" id=downloadType>
                    <option value="xls">xls file</option>
                    <option value="xlsx">xlsx file</option>
                    <option value="csv">csv file</option>
                    <option value="tsv">tsv file</option>
                </select>
              </li>
              <li class="list-group-item">Remove genes that are not within input annotation
                <input class="pull-right settings-checkboxes" type="checkbox" id="autoRemove">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-confirm">Submit</button>
      </div>
    </div>
  </div>
</div>