{% extends "_layouts/base.html" %}

{% load staticfiles base_extras %}

{% block page_title_suffix %} - {{ dataset.verbose_name }} network{% endblock %}

{% block meta %}
{{ block.super }}
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock meta%}

{% block css %}
{{ block.super }}
  <link href="{% static 'css/networks.css' %}" rel="stylesheet">
  <link href="{% static 'css/boone3D.css' %}" rel="stylesheet">
{% endblock css %}

{% block js %}
{{ block.super }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js"></script>
  <script type="text/javascript">
      window.opts = {
          urls: {
              'layout' : '{{ dataset.static_url }}/3d.json',
              'node' : '{% static "images/sphere.png" %}',
          },
          annotations: [{% for annot in annotations %}{
              id: '{{ annot.id }}',
              name: '{{ annot.name }}',
              url: '{% url "annotation" annot.id %}',
          },{% endfor %}],
          ui: {
              'root' : '{{ dataset.static_url }}/root.png',
              'extract' : '{{ dataset.static_url }}/extract.png',
/*               'annotation' : '{{ dataset.static_url }}/annotation.png',
              'term' : '{{ dataset.static_url }}/term.png',
              'legend' : '{{ dataset.static_url }}/legend.png', */
          },
      }
      
      require.config({
          paths: {
              'jquery': '{% static "js/libs/jquery-2.1.4.min" %}',
              'backbone': '{% static "js/libs/backbone-min" %}',
              'underscore': '{% static "js/libs/underscore-min" %}',
              
              'three': '//cdnjs.cloudflare.com/ajax/libs/three.js/r71/three',
              'stats': '{% static "js/libs/stats.min" %}',
              
              'boone3D': '{% static "js/boone3D/boone3D" %}',
              'build': '{% static "js/boone3D/buildGraph" %}',
              
              'mouse': '{% static "js/boone3D/mouseControls" %}',
              'utils': '{% static "js/boone3D/utils" %}',
              
              //'leapControls': '{% static "js/boone3D/leapControls" %}',
          },
          shim: {
              'backbone' : ['jquery', 'underscore'],
              'stats' : ['three'],
              'mouse' : ['three'],
          }
      });
      
      require(['boone3D'], function(boone3D) {
          $(window).resize(function() {
              $('#network-container').css('height', $(window).height() - $('.navbar').height() - 30);
              $('#network-container').css('width', $(window).width() - 30);
          }).resize();
//           $.cookie('csrftoken', $("{% csrf_token %}").attr('value'));
          boone3D.runFrame();
      });
  </script>
{% endblock js %}

{% block content %}

<!--[if lt IE 9]>
<p>Sorry, we are not supporting your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. 
TheCellMap.org recommends <a href="https://www.google.com/chrome/browser/">Google Chrome</a> for best performance.</p>
<!--<![endif]-->

<div class="container-fluid"
     style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
     unselectable='on'
     onselectstart='return false;' 
     onmousedown='return false;'>
    <div id="inner-container">
      <div id="network-container"></div>
    </div>
</div>
{% endblock content %}

{% block navbar_items %}
{{ block.super }}
<ul class="nav navbar-nav changed-network hidden">
  <li class="refresh-network"><a href="#" title="Reload this network" data-toggle="tooltip" data-placement="bottom" data-delay="500">
    <span class="glyphicon glyphicon-refresh hidden-xs"></span>
    <span class="visible-xs">Reload network</span>
  </a></li>
</ul>
{% endblock %}

{% block footer %}{% endblock footer %}
