{% extends "_layouts/base.html" %}
{% load staticfiles require %}

{% block js %}
{{ block.super }}
  {% require_module 'base' %}
{% endblock js %}

{% block meta_description %}About TheCellMap.org team and the technology used{% endblock %}

{% block page_title_suffix %} - About{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TheCellMap.org <small>storing and visualizing genetic interactions in <em>S. cerevisiae</em></small></h1>
        <p>
          Providing access to quantitative genomic data is key to ensure large-scale data validation and promote new discoveries. 
          TheCellMap.org serves as the central repository for quantitative genetic interaction data for <em>Saccharomyces cerevisiae</em>
          produced by systematic <a href="http://sites.utoronto.ca/boonelab/sga_technology/">Synthetic Genetic Array (SGA)</a> experiments in the
          <a href="http://sites.utoronto.ca/boonelab/">Boone</a> and <a href="http://sites.utoronto.ca/andrewslab/">Andrews</a> labs and provides a set of fundamental tools for analyzing genetic interaction data. 
          In particular, we allow users to easily visualize, explore and functionally annotate genetic interactions as well as extract and re-organize sub-networks using data-driven or annotation-driven network layouts in an intuitive and interactive manner.
        </p>
        
        <h2>For more information</h2>
        <dl>
          <dt><a href="http://science.sciencemag.org/content/353/6306/aaf1420.long">A global genetic interaction network maps a wiring diagram of cellular function.</a></dt>
          <dd>Costanzo M, VanderSluis B, Koch EN, Baryshnikova A, Pons C, Tan G, Wang W,
Usaj M, Hanchard J, Lee SD, Pelechano V, Styles EB, Billmann M, van Leeuwen J,
van Dyk N, Lin ZY, Kuzmin E, Nelson J, Piotrowski JS, Srikumar T, Bahr S, Chen Y,
Deshpande R, Kurat CF, Li SC, Li Z, Usaj MM, Okada H, Pascoe N, San Luis BJ,
Sharifpoor S, Shuteriqi E, Simpkins SW, Snider J, Suresh HG, Tan Y, Zhu H,
Malod-Dognin N, Janjic V, Przulj N, Troyanskaya OG, Stagljar I, Xia T, Ohya Y,
Gingras AC, Raught B, Boutros M, Steinmetz LM, Moore CL, Rosebrock AP, Caudy AA, 
Myers CL, Andrews B, Boone C.<br><em>Science</em>. 2016 Sep 23;353(6306). pii: aaf1420.
PubMed PMID: 27708008.</dd>
        
          <dt><a href="http://science.sciencemag.org/content/354/6312/aag0839.long">Exploring genetic suppression interactions on a global scale</a></dt>
          <dd>van Leeuwen J, Pons C, Mellor JC, Yamaguchi TN, Friesen H, Koschwanez J, Ušaj 
MM, Pechlaner M, Takar M, Ušaj M, VanderSluis B, Andrusiak K, Bansal P,
Baryshnikova A, Boone CE, Cao J, Cote A, Gebbia M, Horecka G, Horecka I, Kuzmin
E, Legro N, Liang W, van Lieshout N, McNee M, San Luis BJ, Shaeri F, Shuteriqi E,
Sun S, Yang L, Youn JY, Yuen M, Costanzo M, Gingras AC, Aloy P, Oostenbrink C,
Murray A, Graham TR, Myers CL, Andrews BJ, Roth FP, Boone C.<br><em>Science</em>. 2016 Nov 4;354(6312). pii:
aag0839. PubMed PMID: 27811238.</dd>
        </dl>
        
        <h2>Developed at the University of Toronto and the University of Minnesota by</h2>
        <ul>
            <li><a href="mailto:m.usaj@utoronto.ca">Matej Ušaj</a> (technical questions)</li>
            <li><a href="mailto:michael.costanzo@utoronto.ca">Michael Costanzo</a> (SGA project &amp; data)</li>
            <li>Brenda Andrews</li>
            <li>Charlie Boone</li>
            <li>Chad L Myers</li>
            <li>Yizhao Tan</li>
            <li>Benjamin VanderSluis</li>
            <li>Wen Wang</li>
            <li>Albert Zou</li>
        </ul>
        
        <h2>Thanks to the following libraries and their developers</h2>
        <ul>
            <li><a href="https://www.djangoproject.com/">Django</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://glyphicons.com/">Glyphicons PRO</a></li>
            <li><a href="http://sigmajs.org/">sigma.js</a></li>
        </ul>
        
        <ul class="list-inline">
            <li><a href="http://ivaynberg.github.io/select2/">select2</a></li>
            <li><a href="http://lauren.github.io/pick-a-color/">Pick-a-Color</a></li>
            <li><a href="http://medialize.github.io/jQuery-contextMenu/">jQuery-contextMenu</a></li>
            <li><a href="http://davidwalsh.name/fullscreen">fullscreen</a></li>
            <li><a href="https://github.com/eligrey/FileSaver.js">FileSaver.js</a></li>
            <li><a href="https://github.com/eligrey/Blob.js">Blob.js</a></li>
            <li><a href="https://github.com/eligrey/canvas-toBlob.js">canvas-toBlob.js</a></li>
            <li><a href="http://flesler.blogspot.ca/2008/03/xmlwriter-for-javascript.html">XMLWriter</a></li>
            <li><a href="http://refreshless.com/nouislider/">$.noUiSlider</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Follow us:</h2>
        <a href="https://twitter.com/TheCellMap" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @TheCellMap</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img alt="Terrence Donnelly CCBR logo" src="{% static 'img/ccbr_logo.jpg' %}" class="center-block img-responsive">
      </div>
    </div>
  </div>
{% endblock %}
