{% extends "_layouts/base.html" %}

{% load staticfiles base_extras %}

{% block page_title_suffix %} - TestDEBUG{% endblock %}

{% block css %}
{{ block.super }}
<style>
    #cutoff-label {
        float: right;
    }
    
    #cutoff-label.contracted {
        width: 0px;
        padding: 0;
        border: 0px;
    }
</style>
{% endblock %}

{% block js %}
{{ block.super }}
  <script src="{% static 'js/libs/utils.js' %}"></script>
  <script src="{% static 'js/libs/moment.min.js' %}"></script>
  <script type="text/javascript">
  (function($) {
    $(document).ready(function() {
        $("#toggle-cont").click(function() {$("#cutoff-label").toggleClass('contracted')});
    });
  })(jQuery);
  </script>
{% endblock js %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-6 col-md-offset-6">
      <div class="input-group">
        <input id="cutoff-label" type="text" class="form-control contracted pull-right">
        <span class="input-group-btn">
          <button id="toggle-cont" class="btn btn-default" type="button">-0.08</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}