{% extends "_layouts/base.html" %}

{% load staticfiles base_extras %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/glyphicons.css' %}">
  <style>
  #chooser .glyphicons {
      font-size: 240px;
      margin-bottom: 0;
  }
  
  #chooser a:hover {
      text-decoration: none;
      cursor: pointer;
  }
  </style>
{% endblock css %}

{% block js %}
{{ block.super }}
  <script type="text/javascript">
    $("#advanced-options").removeClass('in').addClass('collapse');
  
    $(document).ready(function() {
//         $("#link-network")
    });
  </script>
{% endblock js %}

{% block page_title_suffix %} - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to theCellMap!</h1>
        <p>This paragraph will contain some very meaningful text about what this page does and how awesome the visitor is.</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'about' %}">About us »</a></p>
      </div>
    </div>

    <div id="chooser" class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h2>Network</h2>
          <a id="link-network" class="glyphicons share_alt" href="#" data-toggle="modal" data-target="#dataset-select-modal"></a>
        </div>
        
        <div class="col-md-6 text-center">
          <h2>Tabular</h2>
          <a class="glyphicons table" href="{% url 'tabular' %}"></a>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="dataset-select-modal" tabindex="-1" role="dialog" aria-labelledby="dataset-select-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="dataset-select-label">Select dataset</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              {% with cnt=datasets.count %}{% for dataset in datasets %}
              <div class="col-md-{{ cnt|col_md_part }} text-center">
                <h2>{{ dataset.name }}</h2>
                <p>{{ dataset.description }}</p>
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'dataset' dataset.pk %}">Select</a>
              </div>
              {% endfor %}{% endwith %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
