{% extends "_layouts/base.html" %}

{% load staticfiles crispy_forms_tags %} 

{% block css %}
{{ block.super }}
{% endblock css %}

{% block js %}
{{ block.super }}
{% endblock js %}

{% block page_title_suffix %} - Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2>Logged Out</h2>
        <p>Thanks for spending some quality time with the Website today.</p>
        <p><a href={% url 'login' %}>Login Again</a></p>
      </div>
    </div>
  </div>
{% endblock %}
