{% extends "_layouts/base.html" %} 

{% load staticfiles base_extras %} 

{% block page_title_suffix %} - Complex Matrix{% endblock %} 
{% block css %} {{ block.super }} 
<link rel="stylesheet" type="text/css" href="{% static 'css/matrix.css' %}">
{% endblock %}

{% block js %} {{ block.super }} 
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      var $j = jQuery.noConflict();
      var cl = window.console;
      google.load("visualization", "1", {});
      google.load("prototype", "1.6");
    </script>
    <script type="text/javascript" src="{% static 'js/libs/bioheatmap.js' %}"></script>
    
    <script type="text/javascript">
      function shortenComplexName(cplx) {
          return cplx.split('|')[0].replace(' complex', '').substring(0, 20);
      }
    
      google.setOnLoadCallback(drawHeatMap);
      function drawHeatMap() {
          window.console = cl;
          
          $j.get("{% static 'upload/cluster.json' %}", function(cluster) {
              var data = new google.visualization.DataTable();
              data.addColumn('string', 'Complex');
              
              cluster.columns.forEach(function(col) {
                  data.addColumn('number', shortenComplexName(col));
              });
              
              cluster.rows.forEach(function(row) {
                  row[0] = shortenComplexName(row[0]);
                  data.addRow(row);
              });
              
              var height = Math.min($j(window).height() - $j(".navbar").height(), $j(window).width()) - 30;
              
              heatmap = new org.systemsbiology.visualization.BioHeatMap(document.getElementById('matrix-container'));
              heatmap.draw(data, {mapWidth: height, mapHeight: height, drawBorder: false, cellBorder: true});
              
              google.visualization.events.addListener(heatmap, 'select', function() {
                  console.log(heatmap.getSelection());
              });
          });
      }
    </script>
{% endblock js %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div id="matrix-container" class="col-md-12">
    </div>
  </div>
</div>
{% endblock content %} 
{% block footer %}{% endblock footer %}
