{% extends "_layouts/base.html" %}
{% load staticfiles compress require %}
{% block page_title_suffix %} - {{ dataset.verbose_name }} network {% endblock %}

{% block meta %}
{{ block.super }}
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock meta%}

{% block cdn_css %}
{{ block.super }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.8/ladda-themeless.min.css">
{% endblock cdn_css %}

{% block css %}
{{ block.super }}
  <link href="{% static 'css/glyphicons.css' %}" rel="stylesheet">
  <link href="{% static 'css/networks.css' %}" rel="stylesheet">
  <link href="{% static 'css/viznetworks.css' %}" rel="stylesheet">
  <link href="{% static 'css/pick-a-color-1.2.3.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/nouislider-8.0.1.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/select2-bootstrap.css' %}" rel="stylesheet"> <!-- The cdnjs version of this is still not ready... firefox problems with height -->
{% endblock css %}

{% block js %}
{{ block.super }}
  <script type='text/javascript'>
    function getCookie(cname) {
        var name = cname + '=';
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) {
                return c.substring(name.length,c.length).replace(/^\"|\"$/g, '');
            }
        }
        return '';
    }
    window.opts = {
        urls: {
            nodes: "{{ dataset.static_url }}/nodes.json",
            layout: "{{ dataset.static_url }}/layout.json",
            correlations: "{{ dataset.static_url }}/correlations.json",
            interactions: "interactions/",
            circle: "{% url 'circle_pack' %}",
        },
        annotations: [{% for annot in annotations %}{
            id: "{{ annot.id }}",
            name: "{{ annot.name }}",
            url: "{% url 'annotation' annot.id %}",
        },{% endfor %}],
        regionGroups: [{% for r in regionGroups %} {
            id: {{ r.id }},
            name: "{{ r.name }}",
            url: "{% url 'region_group' dataset.id r.id %}",
        }, {% endfor %}],
        canBulkDownload: {% if can_bulk_download %}true{% else %}false{% endif %},
    }
  </script>
  {% require_module 'network' %}
{% endblock js %}

{% block content %}

<!--[if lt IE 9]>
<p>Sorry, we are not supporting your version of Internet Explorer. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. 
TheCellMap.org recommends <a href="https://www.google.com/chrome/browser/">Google Chrome</a> for best performance.</p>
<!--<![endif]-->

<div class="container-fluid"
     style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' 
     unselectable='on'
     onselectstart='return false;' 
     onmousedown='return false;'>
    <div id="inner-container">
      <div id="sigma-parent" class="sigma-parent">
        <div id="network-container" class="sigma-expand">
        </div>
      </div>
    </div>
</div>

<div id='ui-placeholder' >
  {% if ui == 'advance' %} 
    {% include 'ui/ui.html' %}
  {% else %}
    {% include 'ui/simple_ui.html' %}
  {% endif %}
</div>
{% endblock content %}

{% block navbar_items %}
{{ block.super }}
<ul class="nav navbar-nav changed-network hidden">
  <li class="refresh-network"><a href="#" title="Reload this network" data-toggle="tooltip" data-placement="bottom" data-delay="500">
    <span class="glyphicon glyphicon-refresh hidden-xs"></span>
    <span class="visible-xs">Reload network</span>
  </a></li>
</ul>
{% endblock %}

{% block footer %}
{% endblock footer %}
