{% extends "ui/base_ui.html" %}
{% load staticfiles  %}

{% block uiElements %}
  <div class="top-left hidden-sm hidden-xs">
    <div style="position: relative; display: inline-block; vertical-align: middle;">
      <div class="input-group search-bar">
        <div class="input-group-addon btn-copy">
          <span class="glyphicon glyphicon-search"></span>
          <span class="glyphicons glyphicons-duplicate hidden"></span>
        </div>
        <input class="gene-search-input form-control" type="hidden">
      </div>
    </div>
    <div id="btn-group-download" class="btn-group">
      <button id="btn-view-tabular" type="button" class="btn btn-primary ladda-button" data-style="zoom-in">Get the data</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="disabled" data-selection-constraint data-selection-gt="0"><a id="view-tabular" href="#"> View data in table form</a></li>
        <li class="divider"></li>
        <li><a id="download-visible" href="#"> Download visible network</a></li>
        <li class="disabled" data-selection-constraint data-selection-gt="0" data-selection-lt="20"><a id="download-selected" href="#"> Download data for selected genes</a></li>
        <li class="disabled" data-toggle="tooltip" title="Unpublished data, will be available after publication" data-placement="right" data-delay="0"><a id="download-dataset" href="#"> Download dataset</a></li>
        <li class="divider"></li>
        <li><a id="download-xgmml" href="#"> Export visible network to xgmml</a></li>
        <li><a id="download-gexf" href="#"> Export visible network to gexf</a></li>
        <li><a id="download-snapshot" href="#"> Export visible network to png</a></li>
        <li><a id="download-svg" href="#"> Export visible network to svg</a></li>
      </ul>
    </div>
  </div>
  
  <div class="middle-right">
    <button id="cutoff-label-max" type="button" class="btn btn-success cutoff-label cutoff-label-max" style="display: none;">&nbsp;</button>
    
    <div id="cutoff-bar-cor" class="cutoff-bar cutoff-cor" data-dataset="0" data-orientation="vertical" data-direction="rtl"></div>
    <div id="cutoff-bar-int" class="cutoff-bar cutoff-int" data-dataset="1" data-orientation="vertical" style="display: none;"></div>
    
    <button id="cutoff-label-min" type="button" class="btn btn-default cutoff-label cutoff-label-min"></button>
    
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default btn-zoom-in" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom in" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-zoom-in"></span>
      </button>
      <button type="button" class="btn btn-default btn-home" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Center view and adjust zoom" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-record"></span>
      </button>
      <button type="button" class="btn btn-default btn-zoom-out" data-toggle="tooltip" data-placement="bottom" data-delay="200" title="Zoom out" data-container=".vizualization-ui">
        <span class="glyphicon glyphicon-zoom-out"></span>
      </button>
    </div>
  </div>
  
  <div class="top-right hidden-sm hidden-xs">
    <!-- <button type="button" class="btn btn-primary" id="btn-save-state">Save State</button> -->
    <div id="btn-group-neighbourhood" class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle hidden" data-circular-constraint data-selection-constraint data-selection-gt="0" data-selection-class="hidden" data-toggle="dropdown"> Extract <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" data-toggle="download" data-level="0">Selected genes</a></li>
        <li><a href="#" data-toggle="download" data-level="1">&nbsp; + 1st neighbours</a></li>
        <li><a href="#" data-toggle="download" data-level="2">&nbsp; + 2nd neighbours</a></li>
        <li><a href="#" data-toggle="download" data-level="3">&nbsp; + 3rd neighbours</a></li>
      </ul>
    </div>
    
    <div id="btn-group-layout" class="btn-group">
      <button id="btn-layout" type="button" class="btn btn-primary ladda-button" data-circular-constraint data-layout-type="force" data-style="zoom-out" data-size="s">
          <span class="ladda-label">Layout</span>
      </button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-circular-constraint data-toggle="dropdown">
        <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a id="tool-layout-force" class="tool-layout" data-layout-type="force" href="#"> Force-directed layout </a></li>
        <li><a id="tool-layout-force-plus" class="tool-layout disabled" data-annotation-constraint data-layout-type="force+" href="#"> Force-directed layout + (experimental) </a></li>
        <li><a id="tool-layout-annot" class="tool-layout disabled" data-annotation-constraint data-layout-type="annotation" href="#"> Annotation-directed layout </a></li>
        <li><a id="tool-layout-gi" class="tool-layout disabled" data-dataset-constraint data-layout-type="gi" href="#"> GI-directed layout </a></li>
        <li><a id="tool-layout-gi-plus" class="tool-layout disabled" data-dataset-constraint data-annotation-constraint data-layout-type="gi+" href="#"> GI-directed layout + (experimental)</a></li>
        <li class="dropdown-submenu pull-left disabled"><a id="tool-layout-attr" href="#"> Layout by attribute </a>
          <ul id="attribute-layout-list" class="dropdown-menu" role="menu">
          </ul>
        </li>
        <li class="divider"></li>
        <li><a id="tool-rotate-arbitrary" href="#"> Rotate graph by arbitrary angle</a></li>
        <li><a id="tool-stack" href="#"> Stack unconnected networks </a></li>
        <li class="divider"></li>
        <li class="disabled" data-selection-constraint data-selection-gt="2"><a id="tool-custom-arrange" tabindex="-1" href="#"> Arrange selected in custom shape </a></li>
        
      </ul>
    </div>
    
    <div id="btn-group-style" class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle ladda-button" data-toggle="dropdown"> Annotations <span class="caret"></span></button>
        <ul id="btn-group-annotation" class="dropdown-menu" role="menu">
          <li class="active load-annotation"><a href="#">None</a></li>
          <li class="divider"></li>
        </ul>
    </div>
  </div>
  
  <div class="bottom-left">
    <div class="btn-group btn-group-datasets">
      <div class="image-datasets" data-toggle="tooltip" title="Switch to genetic interaction network" data-placement="top" data-delay="0">
        <label class="image-label">Switch to Genetic Interactions Network</label>
        <img data-selection-constraint data-selection-ls="6" data-selection-gt="0" src="{% static 'images/interactions-min.jpg' %}" class="image-dataset-icon" id="image-interaction" data-dataset="1" alt="Interactions">
      </div>
      <div class="image-datasets hidden" data-toggle="tooltip" title="Switch to similarity network" data-placement="top" data-delay="0">
        <label class="image-label">Switch to Similarity Network</label>
        <img data-selection-constraint data-selection-ls="6" data-selection-gt="0" src="{% static 'images/correlations-min.jpg' %}" class="image-dataset-icon" id="image-correlation" data-dataset="0" alt="Correlations">
      </div>
    </div>
  </div>
{% endblock %}
